@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Roboto+Condensed:ital@1&display=swap");
#container {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 10%;
  left: 35%;
  right: 10%;
}
.generate {
  position: absolute;
  /* left: 40%; */

  font-family: "Noto Sans TC", sans-serif;
}
.next {
  position: absolute;
  left: 20%;

  font-family: "Noto Sans TC", sans-serif;
}
.form-container {
  margin-left: 20px;
  height: 100%;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
}
#marksChart {
  max-height: 100%;
}
